@layer base {
  :root {
    --blue-100: #7487FF;
    --blue-300: #7487FF40;
    --blue-500: #7487FF26;

    --green-100: #D8F8CB;
    --green-200: #BEF5AA;
    --green-300: #81F464;
    --green-400: #36F818;
    --green-500: #39D31B;
    --green-600: #348F1B;
    --green-700: #2E6F19;
    --green-800: #255115;
    --green-900: #0E3F07;
    --green-950: #092604;

    --yellow-100: #FFF121;
    --yellow-300: #FFF12140;
    --yellow-500: #FFF12126;

    --orange-100: #F1721C;
    --orange-300: #F1721C40;
    --orange-500: #F1721C26;

    --salmon-100: #FE5578;
    --salmon-300: #FE557840;
    --salmon-500: #FE557826;

    --red-100: #FF1E00;
    --red-300: #FF1E0040;
    --red-500: #FF1E0026;

    --black-100: #040603;

    --radius: 0.5rem;
    --green-gradient-100: linear-gradient(360deg, #040603 35.72%, #0C1806 67.86%);
    --orange-gradient-100: linear-gradient(0deg, #040603 55%, #141200 68%);
    --red-gradient-100: linear-gradient(0deg, #040603 55%, #141200 68%);

    --multiplier-one-100: linear-gradient(0deg, #33B48B, #00FF4D);
    --multiplier-one-200: linear-gradient(0deg, #174F1D4D, #55DD634D);
    --multiplier-two-100: linear-gradient(0deg, #51B433, #FFE100);
    --multiplier-two-200: linear-gradient(0deg, #73AB434D, #CEFE014D);
    --multiplier-three-100: linear-gradient(0deg, #B4B233, #FF7B00);
    --multiplier-three-200: linear-gradient(0deg, #6A6C2E66, #FEB60166);
    --multiplier-four-100: linear-gradient(0deg, #CD0000, #FFAA56);
    --multiplier-four-200: linear-gradient(0deg, #CF070359, #FF945659);
    --multiplier-five-100: linear-gradient(0deg, #CD0096, #FF5678);
    --multiplier-five-200: linear-gradient(0deg, #57143B6E, #FD53796E);

    --point-gradient-100: linear-gradient(0deg, #33B48B, #00FF4D);
    --multiplier-gradient-100: linear-gradient(0deg, #F3AA17, #FFF121);
    --hp-gradient-100: linear-gradient(0deg, #CD0096, #FF5678);
    --moonrock-gradient-100: linear-gradient(0deg, #667AE5, #C65EE3);
    --chip-gradient-100: linear-gradient(0deg, #CD0000, #FFAA56);
  }
}
