@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Rubik One";
  src: url(/fonts/rubik-one.regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url(/fonts/rubik-glitch.regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url(/fonts/vcr-osd-mono.regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
