@import "./themes/default.css";
@import "./themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family:
			"Rubik One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
			"Helvetica Neue", Arial, sans-serif;
	}
}

#root {
	overflow: hidden;
	height: 100%;
}

html,
body {
	overflow: hidden;
	touch-action: manipulation;
	height: 100%;
}
